@font-face {
  font-family: Seg_Bold;
  src: url(/css/fonts/segoeuib.ttf);
}
@font-face {
  font-family: Seg_Reg;
  src: url(/css/fonts/segoeui.ttf);
}
html,
body {
  height: 100%;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.xtraB {
  margin-bottom: 85px;
}

.margin {
  width: 85vw;
  margin: 0 auto;
}

.displayCase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.displayCaseItem .itemInfo {
  font-family: Seg_Reg;
  font-size: 12px;
}
.displayCaseItem .itemInfo .price {
  font-family: Seg_Bold;
  font-size: 16px;
  margin-bottom: 25px;
}
.displayCaseItem .itemInfo .addBtn {
  height: 50px;
  width: 75%;
  border: rgb(0, 0, 0) solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  border-style: 5px solid black;
  height: 100px;
}

#book {
  height: 72px;
  width: 72px;
}

#profile-image {
  height: 47px;
  width: 47px;
}

#cart {
  width: 52px;
  height: 52px;
}

#search {
  height: 44px;
  width: 600px;
  background-color: rgba(80, 124, 131, 0.3);
  color: black;
}

.links {
  display: flex;
  justify-content: space-evenly;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: sans-serif;
}

#nav-header-text {
  font-family: sans-serif;
}

footer {
  margin-top: 130px;
  /* keep this margin top to keep spacing even accross all pages */
  height: 90px;
  background-color: rgb(88, 124, 131);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Seg_Reg;
  color: rgb(255, 255, 255);
}
footer div {
  width: 20%;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: capitalize;
}
footer .links a:hover {
  text-decoration: underline;
}
footer .socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .socials i {
  color: rgb(255, 255, 255);
}

section.home {
  /* see banner.scss for page banner */
}
section.home .displayCase .displayCaseItem {
  /* display featured books on homepage */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
section.home .displayCase .displayCaseItem img {
  height: 300px;
  margin-bottom: 25px;
}
section.home .displayCase .displayCaseItem .itemInfo {
  text-align: center;
}
section.home .displayCase .displayCaseItem .itemInfo .addBtn {
  margin: 0 auto;
}

/* ipad */
@media screen and (max-width: 768px) {
  section.home .displayCase {
    flex-direction: column;
  }
  section.home .displayCase .displayCaseItem {
    width: 65%;
  }
  section.home .displayCase .displayCaseItem img {
    height: 250px;
  }
  section.home .displayCase > *:not(:last-child) {
    margin-bottom: 50px;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  section.home .displayCase .displayCaseItem img {
    height: 150px;
  }
}
section.about {
  font-family: Seg_Bold;
}
section.about .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.about .row div {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section.about .row div.photo {
  height: 350px;
  width: 24%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.about .row div.owner {
  background-image: url(../images/about-photo.jpg);
}
section.about .row div.store {
  background-image: url(../images/about-photo-two.jpg);
}
section.about .row div.right {
  width: 70%;
}
section.about .row div.right h1 {
  text-transform: uppercase;
  font-size: 32px;
}
section.about .row div.right h6 {
  text-transform: capitalize;
  font-size: 26px;
}
section.about .row div.right p {
  font-size: 16px;
}

/* ipad */
@media screen and (max-width: 768px) {
  section.about .row div.photo {
    width: 45%;
  }
  section.about .row div.right {
    width: 45%;
  }
  section.about .row div.right h1 {
    font-size: 12px;
  }
  section.about .row div.right h6 {
    font-size: 10px;
  }
  section.about .row div.right p {
    font-size: 11px;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  section.about .row div.photo {
    height: 130px;
    width: 75px;
  }
  section.about .row div.right {
    width: 73%;
  }
  section.about .row div.right h1,
  section.about .row div.right h6,
  section.about .row div.right p {
    font-size: 6px;
  }
}
section.books .row {
  padding-bottom: 50px;
}
section.books .row h1 {
  margin-bottom: 25px;
  font-family: Seg_Bold;
}
section.books .row .displayCase .displayCaseItem {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
section.books .row .displayCase .displayCaseItem img {
  height: 250px;
}
section.books .row .displayCase .displayCaseItem img.bookset {
  width: 165px;
  height: 100%;
}
section.books .row .displayCase .displayCaseItem .itemInfo {
  width: 48%;
}
section.books .row .displayCase .displayCaseItem .itemInfo p {
  text-align: left;
}

section.books > *:not(:last-child) {
  margin-bottom: 50px;
}

/* ipad */
@media screen and (max-width: 768px) {
  section.books .row .displayCase {
    flex-direction: column;
  }
  section.books .row .displayCase .displayCaseItem {
    width: 75%;
  }
  section.books .row .displayCase > *:not(:last-child) {
    margin-bottom: 50px;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  section.books .row .displayCase .displayCaseItem img {
    height: 150px;
  }
  section.books .row .displayCase .displayCaseItem img.bookset {
    width: auto;
    height: 115px;
  }
}
.banner {
  width: 90%;
  height: 280px;
  margin: 0 auto 100px;
  background-color: rgb(88, 124, 131);
  position: relative;
}
.bannerStyle {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerHome {
  background-image: linear-gradient(45deg, rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../images/home-hero.jpg);
}
.bannerWords {
  position: absolute;
  top: 35%;
  right: 15%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.bannerWords span {
  text-transform: uppercase;
  font-size: 24px;
  font-family: Seg_Bold;
}
.bannerWords .emph {
  font-size: 14px;
  font-family: Seg_Bold;
}

/* ipad */
@media screen and (max-width: 768px) {
  .bannerStyle {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 45%;
  }
  .bannerHome {
    background-image: url(../images/home-hero.jpg);
  }
  .bannerWords span {
    font-size: 12px;
  }
  .bannerWords .emph {
    font-size: 7px;
    margin-top: 15px;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  .bannerStyle {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 45%;
  }
  .bannerHome {
    background-image: url(../images/home-hero.jpg);
  }
  .bannerWords {
    right: 10%;
  }
  .bannerWords span {
    font-size: 12px;
  }
  .bannerWords .emph {
    font-size: 7px;
    margin-top: 15px;
  }
}
.cart {
  height: 1888px;
  width: 1920px;
}
.cart .content {
  width: 420px;
  height: 317px;
  margin-top: 152px;
  margin-left: 50px;
  display: flex;
}
.cart .content .img {
  height: 317px;
  width: 205px;
}
.cart .content .img img {
  height: 100%;
  width: 100%;
}
.cart .content h1 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 22px;
}
.cart .content h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 22px;
  font-size: 16px;
}
.cart .content h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-left: 22px;
  margin-top: -15px;
  font-weight: normal;
}
.cart .content h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-left: 22px;
  margin-top: 40px;
  font-weight: normal;
}
.cart .line {
  border-bottom: solid black;
  width: 1920px;
  margin-top: 97px;
  margin-left: -150px;
}
.cart .mlk {
  width: 600px;
  height: 317px;
  margin-left: 50px;
  margin-top: 96px;
  display: flex;
}
.cart .mlk .img {
  height: 317px;
  width: 205px;
}
.cart .mlk .img img {
  height: 100%;
  width: 100%;
}
.cart .mlk h1 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 22px;
}
.cart .mlk h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 22px;
  font-size: 16px;
}
.cart .mlk h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-left: 22px;
  margin-top: -15px;
  font-weight: normal;
}
.cart .mlk h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-left: 22px;
  margin-top: 40px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .content {
    height: auto;
    width: auto;
  }
  .mlk {
    height: auto;
    width: auto;
  }
}
.blogBackground1 {
  background-image: linear-gradient(rgba(88, 124, 131, 0.4), rgba(88, 124, 131, 0.4)), url(../images/book-club-hero.jpg);
  width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.blogBackground1 .bloginfo-wrapper {
  padding-top: 170px;
  color: white;
}
.blogBackground1 .bloginfo-wrapper .blogInfoHeader {
  font-size: 32px;
}
.blogBackground1 .bloginfo-wrapper .blogInfoTxt {
  font-size: 22px;
}
.blogBackground1 .blogInfo {
  margin: 0 auto;
  padding-top: 150px;
  width: 900px;
  text-align: center;
  color: #fff;
}

.blog-section {
  width: 1464px;
  min-height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog-section img {
  margin: 0 auto;
  text-align: center;
  height: 463px;
}
.blog-section .blog-text p {
  padding-left: 20px;
  text-align: left;
  font-size: 15px;
  font-family: Segoe UI;
  color: #000;
}

.blogBackgroundClr {
  background-color: #587c83;
  width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  display: flex;
  align-items: center;
}
.blogBackgroundClr .blogImg {
  width: 250px;
  height: 380px;
  margin-left: 88px;
}
.blogBackgroundClr .blogHalfImg {
  width: 622px;
  height: 463px;
}
.blogBackgroundClr .blogInfo {
  width: 418px;
  margin-left: 197px;
  text-align: center;
  color: #fff;
}
.blogBackgroundClr .blogInfo .blogInfoHeader {
  font-size: 32px;
  margin-bottom: 60px;
}
.blogBackgroundClr .blogInfo .blogInfoTxt {
  margin-bottom: 60px;
}
.blogBackgroundClr .blogInfo .blogBtn {
  width: 222px;
  height: 68px;
  background-color: #587c83;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.blogBackgroundClr .blogHalfInfo {
  width: 418px;
  margin-left: 250px;
  text-align: center;
  color: #fff;
}
.blogBackgroundClr .blogHalfInfo .blogInfoHeader {
  font-size: 32px;
  margin-bottom: 60px;
}
.blogBackgroundClr .blogHalfInfo .blogInfoEReadHeader {
  font-size: 32px;
  margin-bottom: 60px;
  width: 444px;
}
.blogBackgroundClr .blogHalfInfo .blogInfoTxt {
  margin-bottom: 60px;
}
.blogBackgroundClr .blogHalfInfo .blogBtn {
  width: 222px;
  height: 68px;
  background-color: #587c83;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.blogBackgroundClr .blogHalfInfo .blogBtn a {
  color: white;
  text-decoration: none;
}

.blogBackground2 {
  background-image: linear-gradient(rgba(88, 124, 131, 0.4), rgba(88, 124, 131, 0.4)), url(../images/february-favorites-hero.jpg);
  width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blogBackground2 .blogInfo {
  margin: 0 auto;
  padding-top: 150px;
  width: 418px;
  text-align: center;
  color: #fff;
}
.blogBackground2 .blogInfo .blogInfoHeader {
  font-size: 32px;
  margin-bottom: 60px;
}
.blogBackground2 .blogInfo .blogInfoTxt {
  font-size: 22px;
  margin-bottom: 60px;
}
.blogBackground2 .blogInfo p {
  font-size: 12px;
}

.blog-section {
  width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.blog-section img {
  margin: 0 auto;
  text-align: center;
  height: 463px;
}
.blog-section .blogInfoHeader {
  padding-left: 20px;
  text-transform: uppercase;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #000;
  position: absolute;
  top: 0;
}
.blog-section .blogInfoTxt {
  padding-left: 20px;
  text-align: left;
  font-size: 15px;
  font-family: Segoe UI;
  color: #000;
  padding-bottom: 200px;
}

.blogBackground3 {
  background-image: linear-gradient(rgba(88, 124, 131, 0.4), rgba(88, 124, 131, 0.4)), url(../images/book-club-hero.jpg);
  width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.blogBackground3 .bloginfo-wrapper {
  padding-top: 170px;
  color: white;
}
.blogBackground3 .bloginfo-wrapper .blogInfoHeader {
  font-size: 32px;
}
.blogBackground3 .bloginfo-wrapper .blogInfoTxt {
  font-size: 22px;
}
.blogBackground3 .blogInfo {
  margin: 0 auto;
  padding-top: 150px;
  width: 900px;
  text-align: center;
  color: #fff;
}

.blog-section {
  width: 1464px;
  min-height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog-section img {
  margin: 0 auto;
  text-align: center;
  height: 463px;
}
.blog-section .blog-text p {
  padding-left: 20px;
  text-align: left;
  font-size: 15px;
  font-family: Segoe UI;
  color: #000;
}
