nav {
  border-style: solid;
  overflow: hidden;
  width: 100%;
  height: 100px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: black;
}

#logo {
  width: 73px;
  height: 73px;
}

#user {
  width: 47px;
  height: 47px;
}

#cart {
  width: 52px;
  height: 52px;
}

#search {
  height: 44px;
  width: 600px;
  background-color: rgba(80, 124, 131, 0.3);
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

section.about {
  font-family: Seg_Bold;
}
section.about .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.about .row div {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section.about .row div.photo {
  height: 350px;
  width: 24%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.about .row div.owner {
  background-image: url(../images/about-photo.jpg);
}
section.about .row div.store {
  background-image: url(../images/about-photo-two.jpg);
}
section.about .row div.right {
  width: 70%;
}
section.about .row div.right h1 {
  text-transform: uppercase;
  font-size: 32px;
}
section.about .row div.right h6 {
  text-transform: capitalize;
  font-size: 26px;
}
section.about .row div.right p {
  font-size: 16px;
}

/* ipad */
@media screen and (max-width: 768px) {
  section.about .row div.photo {
    width: 45%;
  }
  section.about .row div.right {
    width: 45%;
  }
  section.about .row div.right h1 {
    font-size: 12px;
  }
  section.about .row div.right h6 {
    font-size: 10px;
  }
  section.about .row div.right p {
    font-size: 11px;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  section.about .row div.photo {
    height: 130px;
    width: 75px;
  }
  section.about .row div.right {
    width: 73%;
  }
  section.about .row div.right h1,
  section.about .row div.right h6,
  section.about .row div.right p {
    font-size: 6px;
  }
}
