nav {
  border-style: 5px solid black;
  height: 100px;
}
.margin {
}

#book {
  height: 72px;
  width: 72px;
}

#profile-image {
  height: 47px;
  width: 47px;
}

#cart {
  width: 52px;
  height: 52px;
}

#search {
  height: 44px;
  width: 600px;
  background-color: rgba(80, 124, 131, 0.3);
  color: black;
}

.links {
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
  }
}

#nav-header-text {
  font-family: sans-serif;
}
